{
   "semi": true,
   "trailingComma": "all",
   "singleQuote": true,
   "printWidth": 120,
   "tabWidth": 3,
   "arrowParens": "always",
   "jsxSingleQuote": true,
   "jsxBracketSameLine": true,
   "bracketSpacing": true
}
